
            <!-- Page Headings Start -->
            <div class="row justify-content-between align-items-center mb-10">

                <!-- Page Heading Start -->
                <div class="col-12 col-lg-auto mb-20">
                    <div class="page-heading">
                        <h3>تجارت الکترونیکی <span>/ افزودن محصول</span></h3>
                    </div>
                </div><!-- Page Heading End -->

            </div><!-- Page Headings End -->

            <!-- Add or Edit Product Start -->
            <div class="add-edit-product-wrap col-12">

                <div class="add-edit-product-form">                        
                     <h4 class="title">افزودن محصول</h4>

                             {{#if hasError}}
                            <div class="alert alert-outline-secondary" role="alert">
                                {{#each errors}}
                                    <p>{{this}}</p>
                                {{/each}}
                            </div> 
                             {{/if}}
              
                        

                    <form action="/admin/posts/store" method="POST">
                        <div class="row">
                            <div class="col-lg-6 col-12 mb-30"><input class="form-control" name="title" type="text" placeholder="نام محصول / عنوان*"></div>
                            <div class="col-lg-6 col-12 mb-30"><input class="form-control" name="slug" type="text" placeholder="عنوان زیر محصول"></div>
                            <div class="col-12 mb-30"><textarea name="content" class="form-control" placeholder="توضیحات محصول*"></textarea></div>
                            <div class="col-lg-6 col-12 mb-30">
                                <select name="author" class="form-control select2">
                                      {{#each users}}
                                      <option value="{{this.id}}">{{this.full_name}}</option>
                                      {{/each}}
                                </select>
                                <label><input value="0" type="radio" name="status" checked>پیش نویس</input></label>
                                <label><input value="2" type="radio" name="status" checked>منتشر شده</input></label>
                                <label><input value="1" type="radio" name="status" checked>در حال بازبینی</input></label>
                            </div>
                        </div>

                        <h4 class="title">گالری محصول</h4>

                        <div class="product-upload-gallery row flex-wrap">
                            <div class="col-12 mb-30">
                                <p class="form-help-text mt-0">آپلود حداکثر 800 × 800 پیکسل و حداکثر اندازه 2 مگابایت.</p>
                                <input class="file-pond" type="file" multiple>
                            </div>
                        </div>

                        <!-- Button Group Start -->
                        <div class="row">
                            <div class="d-flex flex-wrap justify-content-end col mbn-10">
                                <button type="submit" class="button button-outline button-primary mb-10 ml-10 mr-0">ذخیره و انتشار</button>
                            
                            </div>
                        </div><!-- Button Group End -->

                    </form>
                </div>

            </div><!-- Add or Edit Product End -->